@import "./header.css";
@import "./submit-form.css";
@import "./book-container.css";
@import "./filter-list.css";
@import "./main-search.css";
@import "./book-container.css";
@import "./book-preview.css";
@import "./search-dropdown.css";

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    font-family: Poppins;
}

a {
    text-decoration: none;
    outline: none;
}

li {
    list-style: none;
}

ul {
    padding: 0;
    margin: 0;
}

input, button {
    border: none;
    outline: none;
    
}

#root {
    width: 100%;
    height: 100%;
}


.bookList-container {
    width: 100%;
    border-top: #f5f5ef solid 1px; 
    padding-top: 5px;
}

.right-container {
    flex: 4;
    padding: 20px 30px;
    min-height: 600px;
}


.left-container {
    flex: 1;
    padding-top: 20px;
    border-right: #f5f5ef solid 2px;
}

.main-wrapper {
    width: 100%;
    min-height: 100%;
    padding: 20px 80px;

    background: #f5f5ef;
}

.content-wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    background: white;
}

