* {
    box-sizing: border-box;
}

body {
    margin: 0;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    font-family: Poppins;
}

li {
    list-style: none;
}

ul {
    padding: 0;
    margin: 0;
}

input, button {
    border: none;
    outline: none;
    
}

.submitForm {
    margin: 0 auto;
    position: absolute;
    opacity: 0;
    visibility: hidden;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) scaleY(0.7);
    color: black;
    padding: 50px 80px;
    z-index: 5;
    transition: all .3s ease-in;
    border-radius: 5px;
    background-image: linear-gradient(#99bbff,  #ffcc99);
    box-shadow: 0 6px 50px 0 rgba(0, 0, 0, 1);
    color: darkcyan;
}

.submitForm--show {
    transform: translate(-50%, -50%) scaleY(1);
    opacity: 1;  
}


.submitForm div {
    margin: 15px;
}

.submitForm label {
    font-size: 16px;
}

.submitForm input {
    display: block;
    width: 300px;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 3px;
    /* //background: grey; */
    background: transparent;
    border: none;
    outline: none;
    border-bottom: black solid 1px;
}



.book-container {
    display: inline-block;
    padding: 10px 30px;
    width: 20%;
    vertical-align: top;
    font-size: 14px;
    transition: all .2s;
    margin-bottom: 15px;
}

.book-container--highlighted {
    box-shadow: 0 10px 30px 0 rgba(101, 92, 143, 0.3);
    cursor: pointer;
}

.book-container__img {
    height: 100%;
    width: 100%;
    margin: 0;
}

.book-container__title {
    padding-left: 10px;
    padding-top: 5px;
    font-size: 15px;
    line-height: 23px;
    font-weight: 700;
    color: #1f1c1c;
}

.book-container__author {
    padding-left: 10px;
    color: gray;
    font-size: 14px;
}

.book-container__rating::after {
    content: "\2605\2605\2605\2605\2605";
    font-size: 14px;
    padding-left: 10px;
    color: gold;
}



.bookList-container {
    width: 100%;
    border-top: #f5f5ef solid 1px; 
    padding-top: 5px;
}

.right-container {
    flex: 4;
    padding: 20px 30px;
    min-height: 600px;
}


.left-container {
    flex: 1;
    padding-top: 20px;
    border-right: #f5f5ef solid 2px;
}

.main-wrapper {
    width: 100%;
    height: 100%;
    padding: 20px 80px;

    background: #f5f5ef;
}

.content-wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    background: white;
}

.filter-list {
    font-size: 13px;
    width: 100%;
    
    
    min-width: 150px;
}

.filter-list__container {
    padding: 20px 30px;
    
}

.filter-list__count {
    font-size: 12px;
    color: gray;
}

.filter-list__item {
    padding: 6px;
    padding-left: 0px;
    border-bottom: #e1e1e1 dashed 1px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.filter-list li:hover {
    cursor: pointer;
}

.filter-list__checkbox::before {
    content: "";
    width: 15px;
    height: 15px;
    border: #e1e1e1 solid 1px;
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
    border-radius: 4px;

}


.filter-list__title {
    font-size: 16px;
    padding: 5px;
    padding-left: 0px;
    border-bottom: #e1e1e1 solid 1px;
}



.header {
    display: flex;
    flex-wrap: wrap;
    background: #e40046;
    padding: 0;
    align-items: center;
    padding: 10px;
    font-size: 16px;
    color: white;
}

.navBar__linkContainer {
    display: flex;
}

.navBar__link {
    display: flex;
    flex: 2 0 auto;
    padding: 10px 20px;
    
}

.actions {
    margin-left: auto;
    margin-right: 10px;
}


.actions__link {
    display: flex;
    flex: 1 0 auto;
}

.actions__container {
    display: flex;
}

.main-search-input-container {
    display: flex;
    width: 600px;
    margin-left: 50px;
}

.main-search-input {
    padding: 6px;
    color: black;
    font-size: 14px;
    border-radius: 4px 0px 0px 4px;
    flex: 4;
}



.main-search-input__icon {
   padding: 5px;
   font-size: 14px;
}

/* .main-search-input::placeholder {
    color: lightgray;
} */

.main-search-input__button {
    padding: 6px;
    background: #333;
    border-radius: 0px 4px 4px 0px;
    flex: 1;
}









