.book-container {
    display: inline-block;
    padding: 10px 30px;
    width: 20%;
    vertical-align: top;
    font-size: 14px;
    transition: all .2s;
    margin-bottom: 15px;
}

.book-container--highlighted {
    box-shadow: 0 10px 30px 0 rgba(101, 92, 143, 0.3);
    cursor: pointer;
}

.book-container__img {
    height: 100%;
    width: 100%;
    margin: 0;
}

.book-container__title {
    padding-left: 10px;
    padding-top: 5px;
    font-size: 15px;
    line-height: 23px;
    font-weight: 700;
    color: #1f1c1c;
}

.book-container__author {
    padding-left: 10px;
    color: gray;
    font-size: 14px;
}

.book-container__rating::after {
    content: "\2605\2605\2605\2605\2605";
    font-size: 14px;
    padding-left: 10px;
    color: gold;
}
