.filter-list {
    font-size: 13px;
    width: 100%;
    min-width: 150px;
}

.filter-list__container {
    padding: 20px 30px;
}

.filter-list__count {
    font-size: 12px;
    color: gray;
}

.filter-list__item {
    padding: 6px;
    padding-left: 0px;
    border-bottom: #e1e1e1 dashed 1px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.filter-list li:hover {
    cursor: pointer;
}

.filter-list__checkbox::before {
    content: "";
    width: 15px;
    height: 15px;
    border: #e1e1e1 solid 1px;
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
    border-radius: 4px;
}


.filter-list__title {
    font-size: 16px;
    padding: 5px;
    padding-left: 0px;
    border-bottom: #e1e1e1 solid 1px;
}

