.main-search-input-container {
    display: flex;
    width: 400px;
    margin-left: 50px;
    position: relative;
}

.main-search-input {
    padding: 6px;
    color: black;
    font-size: 14px;
    border-radius: 4px 4px 4px 4px;
    flex: 4;
}

.main-search-input__icon {
   padding: 5px;
   font-size: 14px;
}

/* .main-search-input::placeholder {
    color: lightgray;
} */

.main-search-input__button {
    padding: 6px;
    background: #333;
    border-radius: 0px 4px 4px 0px;
    flex: 1;
}