.search-status-container {
    padding: 10px;
    height: 50px;
}

.search-status {
    display: inline-block;
}

.search-status__btn {
    padding: 7px 10px;
    border-radius: 3px;
    margin-left: 15px;
    background: #e1e1e1;

}

.search-status__btn:hover {
    cursor: pointer;
}