.submitForm {
    margin: 0 auto;
    position: absolute;
    opacity: 0;
    visibility: hidden;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) scaleY(0.7);
    color: black;
    padding: 50px 80px;
    z-index: 5;
    transition: all .3s ease-in;
    border-radius: 5px;
    background-image: linear-gradient(#99bbff,  #ffcc99);
    box-shadow: 0 6px 50px 0 rgba(0, 0, 0, 1);
    color: darkcyan;
}

.submitForm--show {
    transform: translate(-50%, -50%) scaleY(1);
    opacity: 1;  
}


.submitForm div {
    margin: 15px;
}

.submitForm label {
    font-size: 16px;
}

.submitForm input {
    display: block;
    width: 300px;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 3px;
    /* //background: grey; */
    background: transparent;
    border: none;
    outline: none;
    border-bottom: black solid 1px;
}
